body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(9, 59, 94) 3%, rgb(9, 59, 94) 38%, rgb(9, 59, 94) 68%, rgb(9, 59, 94) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(227 220 204 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 300%;
    height: 19em;
    /* height: 12em; */
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.container,
.inner_container,
.left,
.right,
.button,
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    height: 100vh;
    position: relative;
}

.Applicant {
    font-size: 1em;
    text-decoration: underline;
    font-weight: bold;
    color: aliceblue;
    margin-top: 0px;
}

h3 {
    border-bottom-style: solid;
    font-size: .8em;

}

h3,
p,
.left,
.right {
    margin-top: 0px;
    margin-bottom: 5px;
}

p {
    /* text-transform: capitalize; */
    font-size: .8em;
}

.container,
.left,
.right {
    flex-direction: column;
}

.left,
.right {
    flex: 1;
    padding: 1em;
    padding-top: 0px;
    padding-bottom: 0px;
}

.container {}

.inner_container {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(229, 207, 158);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadein 3s;
    border-style: solid;
}

.left {}

.right {}

.logout1 {
    margin-left: auto;
    margin-top: 20px;
    color: white;
    background-color: rgb(9, 59, 94);
    border-style: none;
}

.logout1:hover {
    background-color: rgb(0, 115, 170);
    transition: all .2s ease-in-out;
    text-decoration: underline;
}

.logout {
    margin-left: auto;
    margin-top: 20px;
    color: black;
    background-color: rgb(9, 59, 94);

}

.button {
    background-color: rgb(9, 59, 94);
    color: white;
    border: solid;
    border-radius: 6px;
    cursor: pointer;
    font-size: .7em;
    transition: background-color 0.3s ease-in-out;
    padding: 1em;
    width: 100%;
    border-style: none;
}

.button:hover {
    color: rgb(3, 60, 90);
    font-weight: 500;
    background-color: rgb(217, 208, 187);
}

.button_moving {

    height: 55px;
    width: 200px;
    font-size: 16px;
    cursor: pointer;
    background-size: 300% 100%;
}

.disabled {
    font-size: 16px;
    background-color: grey;
    cursor: pointer;
    height: 55px;
}

.disabled:hover {
    color: black;
    border-color: black;
    /* border-style: solid; */
    cursor: context-menu;
    outline: solid;
}

.button_moving:hover {
    transition: all 0.5s ease-in-out 0s;
    /* background-position: 100% 0px; */
    background-color: rgb(217, 208, 187);
}

.button_moving_color {}


table,
th,
td {
    border: 1px solid;

}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: center;

}

td {}

.logout {
    margin-left: auto;
}

summary::-webkit-details-marker {
    color: blue;
}

summary:focus {
    outline-style: none;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

img {
    animation: fadein 1s;
    width: 10%;
}

.vacontainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100%;
    width: 19vw;
}

.relative {
    position: relative;
    overflow-x: hidden;
}

.responseblur {
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(6px);
}

.response {
    overflow-y: auto;
    overflow-x: hidden;
    font-size: .7em;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    overflow: scroll;
    border-style: solid;
    border-color: rgb(0, 57, 93);
    border-width: 5px;
    background-color: rgb(255, 239, 164);
    width: 100%;
    height: 50vh;

}

.response::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

.response::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.response::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}



.question {
    position: absolute;
    bottom: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    border-color: black;
    border-style: solid;
    height: 100%;
    border-radius: 0px 0px 5px 5px;
}

.questiontext {
    font-size: .5em;
    width: 100%;
    border: none;
}

::placeholder {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

.collapsible {
    background-color: rgb(0, 57, 93);
    color: rgb(233, 226, 205);
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    border-radius: 5px 5px 0px 0px;
}

.collapsible .active {
    width: 50%;
}


.content {
    padding: 0px;
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #f1f1f1;
    max-height: 382px;
    transition: all .5s ease-out;
}

.message-blue {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(0, 80, 131);
    width: 200px;
    height: auto;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    color: white;

}

.message-orange {
    position: relative;
    margin-bottom: 10px;
    margin-left: calc(100% - 240px);
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(170, 152, 104);
    color: white;
    height: auto;
    width: 200px;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid black;
    border-radius: 10px;
}

.text-content {
    padding: 0;
    margin: 0;
}

.bottom {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
}


.flash-messages {
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    bottom: 10%;
    /* top: 0px; */
    z-index: 100;
    opacity: .7;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.temp {
    width: 235px;
    height: 115px;
}

.flash-messages ul.flashes .flash {
    animation: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.flash-messages ul.flashes {
    animation: shake 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-fill-mode: forwards;
}

.flashes {
    padding-left: 0px;

}

.flash.Success {
    background-color: #dff0d8;
    color: #3c763d;

}

.flash.Failed {
    background-color: #f2dede;
    color: #a94442;


}

@keyframes shake {

    0%,
    100% {
        transform: translateY(0);
    }

    20%,
    60% {
        transform: translateY(-1px);
    }

    40%,
    80% {
        transform: translateY(1px);
    }
}

.logotext {
    position: absolute;
    left: 8%;
    top: 0px;
    font-weight: 100;
    color: black;
    text-transform: capitalize;
}


.wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.nounderline {
    text-decoration: none;
    font-style: normal;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.appname {
    font-size: 1em;
    color: aliceblue;
    padding-top: 0px;
    margin-top: 0px;
    text-decoration: underline;
}


.navigation {
    position: relative;
    position: sticky;
    display: flex;
    top: 0px;
    background-color: rgb(3, 60, 90);
    border-color: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 2%;
    background-image: linear-gradient(to right, white 0%, white 10%, rgb(3, 60, 90) 50%, rgb(3, 60, 90) 100%);
    border-bottom-width: .2em;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 900;
}

.gwlogo {
    position: absolute;
    top: 0px;
    left: 0px;
    max-height: 100%;
    width: auto;
    background-color: white;
    display: flex;
    align-items: flex-start;
}


.left-wrapper {
    position: relative;
    flex: 1;
}


.GWhome {
    padding: 10px;
    border-style: none;
}

.logo {
    border: none;
}

a {
    text-decoration: none;
    border-radius: 10px;
    padding: .5em;
    border-style: solid;
    border-color: black;
    background-color: hsl(205, 79%, 20%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

select,
button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav {}

.logout {
    margin-left: auto;
    margin-top: 20px;
    color: white;
    background-color: rgb(9, 59, 94);
    border-style: none;

}

.logout:hover {
    background-color: rgb(0, 115, 170);
    transition: all .2s ease-in-out;
    text-decoration: underline;
}