<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/static/style_review_home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="/static/images/GW.png">
    <title>Access Reviews</title>
</head>

<body>
    <nav class="navigation">
        <div class="logo">
            <div class="wrapper">
                <a class="GWhome" href="/roleportal">
                    <img class="gwlogo" src="static/images/GW.png">
                </a>
                <div class="logotext">
                    <h1 class="nounderline">{{session['role']}}</h1>
                </div>
            </div>
        </div>
        <div class="nav-items">
            <a class="logout" href="/roleportal">Home <i class="fa fa-home"></i></a>
            <a class="logout" href="/adduser">Add User <i class="fa fa-plus"></i></a>
            <a class="logout" href="/adminreview">Access Reviews <i class="fa fa-envelope"></i></a>
            <a class="logout" href="/logout">Logout <i class="fa fa-sign-out"></i></a>
        </div>
    </nav>
    <div class="container">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>

        <div class="reviews">
            <div class="completed_reviews">
                <h1 class="admin">Completed Reviews</h1>
                {% if review_data != None %}
                <form action=" {{ url_for('adminreview') }}" method="POST">

                    <table>
                        <tr>
                            <th>Timestamp</th>
                            <th>Review ID</th>
                            <th>Reviewer's ID</th>
                            <th>Review Status</th>
                        </tr>
                        <!-- applications is a tuple of tuples (list of applications) -->
                        <!-- app is a tuple of data for each application entry -->

                        {% for review in review_data %}
                        <tr>
                            <td>
                                <p>{{review['timestamp']}}</p>
                            </td>
                            <td>
                                <p>{{review['reviewid']}}</p>
                            </td>
                            <td>
                                <p>{{review['reviewerid']}}</p>
                            </td>
                            <td>
                                <p>{{review['review_status']}}</p>
                            </td>
                            <td>
                                <div class="buttons_container">
                                    <button class="edit" type="submit" name="select"
                                        value="{{review['applicationid']}}">Select
                                    </button>
                                </div>
                            </td>
                        </tr>

                        {% endfor %}

                    </table>
                </form>
                {%else%}
                <div class="empty">
                    <p>No Completed Reviews</p>
                </div>
                {%endif%}
                <div class="temp">
                    <div class="flash-messages">
                        {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                        <ul class="flashes">
                            {% for category, message in messages %}
                            <p class="flash {{ category }}">{{ message }}</p>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>

            </div>

            <div class="applicant_info">
                <h1 class="admin">Applicant Info</h1>
                {%if review != None%}
                <form action=" {{ url_for('adminreview') }}" method="POST">
                    <table>
                        <tr>
                            <th>Applicant ID</th>
                            <th>Name</th>
                        </tr>
                        <!-- applications is a tuple of tuples (list of applications) -->
                        <!-- app is a tuple of data for each application entry -->
                        <tr>
                            <td>
                                <p>{{review['user_id']}}</p>
                            </td>
                            <td>
                                <p>{{review['lastname']}}, {{review['firstname']}}</p>
                            </td>
                            <td>
                                <div class="buttons_container">
                                    <input type="hidden" name="reviewer_id" value="{{review['reviewerid']}}">
                                    <input type="hidden" name="review_status" value="{{review['review_status']}}">
                                    <button class="delete" type="submit" name="delete"
                                        value="{{review['applicationid']}}">Delete
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
                {%else%}
                <div class="empty">
                    <p>No review selected</p>
                </div>
                {%endif%}
                <div class="temp">
                    <div class="flash-messages">
                        {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                        <ul class="flashes">
                            {% for category, message in messages %}
                            <p class="flash {{ category }}">{{ message }}</p>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="static/scriptapp.js"></script>
</body>

</html>