<!DOCTYPE html>
<html>
<head>
    <title>Grad Secretary Dashboard - College Registration System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student-dash.css') }}">
</head>
<body>
    <main>
        <h2>Grad Secretary Dashboard</h2>
        <p>Welcome, {{ user_info.f_name }} {{ user_info.l_name }}</p>
        <!-- Grad Secretary specific functionalities -->
        <section>
            <form action="/logout">
                <input type="submit" value="Logout" />
            </form>
            <h3>Student Records</h3>
            <ul>
                <li><a href="/transcript">View Student Records</a></li>
                <li><a href="/view_info">View Personal Information</a></li>
            </ul>
        </section>
    </main>
</body>
</html>
