<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/style_gs_home.css">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/images/GW.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register For Classes</title>
    <style>
        .long-input {
            width: 500px;
            height: 50px;
        }
    </style>
</head>
<body>
    <nav class="navigation">
        <div class="logo">
            <div class="wrapper">
                <a class="GWhome" href="/roleportal">
                    <img class="gwlogo" src="static/images/GW.png">
                </a>
                <div class="logotext">
                    <h1 class="nounderline">{{session['role']}}</h1>
                </div>
            </div>
        </div>
        <div class="nav-items">
            <a class="logout" href="/student_dashboard">Home <i class="fa fa-home"></i></a>
            <a class="logout" href="/register_for_classes">Register for Classes <i class="fa fa-th-large"></i></a>
            <a class="logout" href="/form_one">Submit Form 1 <i class="fa fa-plus"></i></a>
            <a class="logout" href="/profile">Profile <i class="fa fa-user-circle"></i></a>
            <a class="logout" href="/logout">Logout <i class="fa fa-sign-out"></i></a>
        </div>
    </nav>
    <div class="container">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="inner_container">
            <h2 class="applicantdata"> Course Registration </h2>
            Please check the classes you wish to register for. Scroll down to see course catalog. The following courses are on your form 1:
            <br>
            || 
            {% for course in form_classes %}
                {{course['dept']}} {{course['course_num']}} ||
            {% endfor %}
            <br>
            <br>
            <form action="/register_for_classes" method="GET">
                <p><input type="text" placeholder="Search By Course Number" name="search" class="long-input"> <button type="submit"><i class="fa fa-search"></i></button></p>
            </form>
            <br>
            <form action="/register_for_classes" method="POST">
                <div class="big-button-container">
                    <center><input type="submit" class="big-button" id = "filter_check" name="filter_check" value="Filter By Checked" onclick="get_filtered(event)"></center>
                </div>
            </form>
            <br>
            <table>
                <tr>
                    <th>Select</th>
                    <th>Department</th>
                    <th>Course Number</th>
                    <th>Schedule Day</th>
                    <th>Time</th>
                    <th>Instructor</th>
                    <th>Room and Size</th>
                    <th>Semester and Year</th>
                    <th>CRN</th>
                </tr>
                <form action = "/register_for_classes" method = 'POST'>
                {% for course in course_schedule %}
                <tr>
                    <td> <input type="checkbox" id = "select_{{course['course_dept']}}{{course['course_num']}}{{course['crn']}}" name = "select_{{course['course_dept']}}{{course['course_num']}}{{course['crn']}}"> </td>
                        
                    <td>
                        <p>{{course['course_dept']}}</p>
                    </td>
                    <td>
                        <p>{{course['course_num']}}</p>
                    </td>
                    <td>
                        <p>{{course['schedule_day']}}</p>
                    </td>
                    <td>
                        <p>{{course['start_time']}}-{{course['end_time']}}</p>
                    </td>
                    <td>
                        <p>{{course['instructor_id']}}</p>
                    </td>
                    <td>
                        <p>Room: {%if not course['room'] %} unknown {% else %} {{course['room']}} {% endif %} 
                            <br>
                            With Max Capacity of: {%if not course['room_capacity'] %} unknown {% else %} {{course['room_capacity']}} {% endif %} 
                        </p>
                    </td>
                    <td>
                        <p>{{course['semester']}} {{course['year']}}</p>
                    </td>
                    <td>
                        <p>{{course['crn']}}</p>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <br>
            <br>
            <div class="big-button-container">
                <center><input type="submit" class="big-button" name="Process" value="Process"></center>
            </div>
            <br>
            <br>
            <h2 class="applicantdata"> Course Catalog </h2>
            <br>
            <br>
            <table>
                <tr>
                    <th>Department</th>
                    <th>Course Number</th>
                    <th>Title</th>
                    <th>Credits</th>
                    <th>Pre-requisite 1</th>
                    <th>Pre-requisite 2 </th>
                </tr>
                <form action = "/form_one" method = 'POST'>
                {% for course in course_catalog %}
                <tr>
                    <td>
                        <p>{{course['department']}}</p>
                    </td>
                    <td>
                        <p>{{course['course_num']}}</p>
                    </td>
                    <td>
                        <p>{{course['title']}}</p>
                    </td>
                    <td>
                        <p>{{course['credit']}}</p>
                    </td>
                    <td>
                        {% if course['prereq_one_num'] != 0 %}
                            <p>{{course['prereq_one_dep']}} {{course['prereq_one_num']}}</p>
                        {% else %}
                            <p>None</p>
                        {% endif %}
                    </td>
                    <td>
                        {% if course['prereq_two_num'] != 0 %}
                            <p>{{course['prereq_two_dep']}} {{course['prereq_two_num']}}</p>
                        {% else %}
                            <p>None</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% if message %}
        <script>
            function empty_form(message){
                alert(message)
            }
            empty_form("{{message}}")
        </script>   
    {% endif %}
    <script>
        function saveCheckboxStates(){
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach((checkbox) => {
                localStorage.setItem(checkbox.id, checkbox.checked);
            });
        }
        function loadCheckboxStates(){
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            checkboxes.forEach((checkbox) => {
                const savedState = localStorage.getItem(checkbox.id);
                if(savedState !== null){
                    checkbox.checked = savedState === 'true';
                }
            });
        }
    
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach((checkbox) => {
            checkbox.addEventListener('change', saveCheckboxStates);
        });
    
        document.addEventListener('DOMContentLoaded', loadCheckboxStates);


        document.getElementById("filter_check").addEventListener("click", function(event) {
            const filtered = [];
            let amount = 0;
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            for (let i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    filtered.push(checkboxes[i].id);
                    amount++;
                }
            }
            $.get(
                url="/register_for_classes",
                data={filteredArray:filtered}, 
                success=function(data) {
                alert('page content: ' + data);
                }
            );
        });
    </script>
</body>
</html>