<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/static/style_gs_home.css">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/static/images/GW.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <style>
        .long-input {
            width: 500px;
            height: 50px;
        }
    </style>
</head>

<body>
    <nav class="navigation">
        <div class="logo">
            <div class="wrapper">
                <a class="GWhome" href="/roleportal">
                    <img class="gwlogo" src="static/images/GW.png">
                </a>
                <div class="logotext">
                    <h1 class="nounderline">{{session['role']}}</h1>
                </div>
            </div>
        </div>
        {% if session['role'] == 'grad_sec' %}
        <div class="nav-items">
            <a class="logout" href="/students">Students <i class="fa fa-edit"></i></a>
            <a class="logout" href="/roleportal">Home <i class="fa fa-home"></i></a>
            <a class="logout" href="/gschome">Final Review <i class="fa-solid fa-magnifying-glass"></i></a>
            <a class="logout" href="/applications">Applications <i class="fa fa-clipboard"></i></a>
            <a class="logout" href="/assign_advisor">Assign Advisors <i class="fa fa-plus" aria-hidden="true"></i></a>
            <a class="logout" href="/profile">Profile <i class="fa fa-user-circle"></i></a>
            <a class="logout" href="/logout">Logout <i class="fa fa-sign-out"></i></a>
        </div>
        {% elif session['role'] == 'admin' %}
        <div class="nav-items">
            <a class="logout" href="/students">Students <i class="fa fa-edit"></i></a>
            <a class="logout" href="/adminhome">Home <i class="fa fa-home"></i></a>
            <a class="logout" href="/adduser">Add User <i class="fa fa-plus"></i></a>
            <a class="logout" href="/adminreview">Access Reviews <i class="fa fa-envelope"></i></a>
            <a class="logout" href="/admin_assign_advisor">Assign Advisors <i class="fa fa-plus" aria-hidden="true"></i></a>
            <a class="logout" href="/profile">Profile <i class="fa fa-user-circle"></i></a>
            <a class="logout" href="/logout">Logout <i class="fa fa-sign-out"></i></a>
        </div>
        {% else %}
        <div class="nav-items">
            <a class="logout" href="/students">Students <i class="fa fa-edit"></i></a>
            <a class="logout" href="/roleportal">Home <i class="fa fa-home"></i></a>
            <a class="logout" href="/reghome">Schedule of Classes <i class="fa-solid fa-magnifying-glass"></i></a>
            <a class="logout" href="/profile">Profile <i class="fa fa-user-circle"></i></a>
            <a class="logout" href="/logout">Logout <i class="fa fa-sign-out"></i></a>
        </div>
        {% endif %}
    </nav>
    <div class="container">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="inner_container">
            <h2 class="applicantdata"> All Students </h2>
            <form action="/students" method="GET">
                <p><input type="text" placeholder="Search Student By UID or Last Name" name="search" class="long-input"> <button type="submit"><i class="fa fa-search"></i></button></p>
            </form>
            <br>
            <h2 class="applicantdata"> Filter </h2>
            <center>
            <form action="/students" name = "filter_form" method="POST">
                <select name="filter" id="filter" >
                    <option value="semester">Semester</option>
                    <option value="year">Year</option>
                    <option value="program">Program</option>
                    <option value="cleared_to_graduate">Cleared to Graduate</option>
                </select>
                <br>
                <div name = "dynamic_select" id="dynamic-select"></div>
                <br>
                <input type="submit" name="filter_input" value="Filter">
            </form>
            </center>
            <br>
            {% if students %}
            <table>
                <tr>
                    <th>University ID</th>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Advisor ID</th>
                    <th>Program</th>
                    <th>Major</th>
                    <th>GPA</th>
                    <th>More Info</th>
                </tr>
                {% for student in students %}
                <tr>
                    <td>
                        <p>{{student['uid']}}</p>
                    </td>
                    <td>
                        <p>{{student['user_id']}}</p>
                    </td>
                    <td>
                        <p>{{student['last_name']}}, {{student['first_name']}}</p>
                    </td>
                    <td>
                        <p>{{student['advisor_id']}}</p>
                    </td>
                    <td>
                        <p>{{student['program']}}</p>
                    </td>
                    <td>
                        <p>{{student['major']}}</p>
                    </td>
                    <td>
                        <p>{{student['gpa']}}</p>
                    </td>
                    <td>
                        <a class="logout" href="/student/{{ student['user_id'] }}">View</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>No Students</p>
            {% endif %}

        </div>
        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                <p class="flash {{ category }}">{{ message }}</p>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    {% if message %}
        <script>
            function empty_form(message){
                alert(message)
            }
            empty_form("{{message}}")
        </script>   
    {% endif %}
    <script type=" text/javascript" src="static/scriptapp.js"></script>
</body>
<script>
    document.getElementById("filter").addEventListener("change", function() {
        var selectedValue = this.value;
        var dynamicSelect = document.getElementById("dynamic-select");
        dynamicSelect.innerHTML = ""; // Clear previous options
    
        if (selectedValue === "semester") {
            dynamicSelect.innerHTML = `
                <select name="semester" id="semester">
                    <option value="Spring">Spring</option>
                    <option value="Summer">Summer</option>
                    <option value="Fall">Fall</option>
                </select>
            `;
        } else if (selectedValue === "year") {
            dynamicSelect.innerHTML = `
                <select name="year" id="year">
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                </select>
            `;
        } else if (selectedValue === "program") {
            dynamicSelect.innerHTML = `
                <select name="program" id="program">
                    <option value="MS">MS</option>
                    <option value="PhD">PhD</option>
                </select>
            `;
        }
    });
    </script>
</html>